<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="connString" connectionString="Provider=OraOLEDB.Oracle.1;User ID=KTMMIS;Password=Aa82078542;Data Source=(DESCRIPTION = (ADDRESS_LIST= (ADDRESS = (PROTOCOL = TCP)(HOST = localhost)(PORT = 1521))) (CONNECT_DATA =(SERVICE_NAME = ORCL)))"/>
  </connectionStrings>
  <appSettings>
    <add key="LogFilePath" value="C:\Users\asus\Documents\Visual Studio 2013\Projects\Wcfjejz" />
  </appSettings>
  <system.serviceModel>
    <services>
      <!--添加服务-->
      <service name="Wcfjejz.Service1" behaviorConfiguration="CalculatorServiceBehavior">
        <!--name 必须与代码中的host实例初始化的服务一样 
behaviorConfiguration 行为配置 -->
        <host>
          <baseAddresses>
            <!--添加调用服务地址-->
            <add baseAddress="http://localhost/jejz"/>
          </baseAddresses>

        </host>
        <!--添加契约接口 contract="WcfService1.IService1" WcfService1.IService1为契约接口 binding="wsHttpBinding" wsHttpBinding为通过Http调用-->
        <endpoint address="" binding="wsHttpBinding" contract="Wcfjejz.IService1"></endpoint>
      </service>

    </services>
    <!--定义CalculatorServiceBehavior的行为-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="CalculatorServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>

        </behavior>

      </serviceBehaviors>

    </behaviors>
  </system.serviceModel>
</configuration>